@import url("https://fonts.googleapis.com/css?family=Signika");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
/* line 5, ../sass/base/_base.scss */
* {
  font-family: 'Signika', sans-serif;
}

/* line 8, ../sass/base/_base.scss */
.heading {
  text-indent: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
}

/* line 16, ../sass/base/_base.scss */
.section-padding {
  padding: 40px 0;
}

/* line 21, ../sass/base/_base.scss */
.primary_btn {
  background: transparent;
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: #85b14d;
  color: #85b14d;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 31, ../sass/base/_base.scss */
.primary_btn:hover {
  border-color: #85b14d;
  color: #fff;
  background: #85b14d;
}
/* line 36, ../sass/base/_base.scss */
.primary_btn:active {
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 5px 2px;
  -moz-box-shadow: 0px 0px 5px 2px;
  box-shadow: 0px 0px 5px 2px;
}
/* line 40, ../sass/base/_base.scss */
.primary_btn:focus {
  outline: none;
}

/* line 1, ../sass/module/_header.scss */
.navbar {
  border-color: transparent;
  border-radius: 0px;
  background: transparent;
  margin-bottom: 0px;
}
/* line 6, ../sass/module/_header.scss */
.navbar .navbar-brand {
  padding: 5px 15px;
}
/* line 8, ../sass/module/_header.scss */
.navbar .navbar-brand .logo {
  width: 50px;
}

/* line 14, ../sass/module/_header.scss */
.navbar-inverse .navbar-nav > li a {
  color: #000 !important;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 18, ../sass/module/_header.scss */
.navbar-inverse .navbar-nav > li a:hover {
  text-decoration: underline;
}

/* line 24, ../sass/module/_header.scss */
nav {
  height: 160px;
  transition: all 0.3s;
}
/* line 27, ../sass/module/_header.scss */
nav .container-fluid {
  transition: all 0.3s;
}

/* line 31, ../sass/module/_header.scss */
.navshadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 70px;
  background: #000000a3;
}
/* line 35, ../sass/module/_header.scss */
.navshadow .navbar-brand, .navshadow .navbar-nav > li > a {
  color: #fff !important;
}

/* line 41, ../sass/module/_header.scss */
header {
  background: url(../image/church.jpg);
  height: 100vh;
  background-size: cover;
}
/* line 45, ../sass/module/_header.scss */
header .hero-image {
  padding-top: 50vh;
  text-align: center;
}
/* line 49, ../sass/module/_header.scss */
header .hero-text {
  font-size: 1.5em;
  text-align: center;
  transform: translate(0%, 0%);
  color: white;
}
/* line 54, ../sass/module/_header.scss */
header .hero-text h1 {
  margin-top: 0px;
}
/* line 57, ../sass/module/_header.scss */
header .hero-text p {
  color: #a5a5a5;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  /* line 66, ../sass/module/_header.scss */
  .navbar-inverse .navbar-nav > li {
    background: rgba(0, 0, 0, 0.64);
  }
  /* line 69, ../sass/module/_header.scss */
  .navbar-inverse .navbar-nav li > a {
    color: #fff !important;
  }
}
@media screen and (max-width: 430px) {
  /* line 76, ../sass/module/_header.scss */
  header .hero-image {
    padding-top: 40vh;
  }
}
/* line 2, ../sass/module/_about.scss */
.about p {
  font-size: 1.1em;
  padding-top: 10px;
  padding-right: 30px;
}
/* line 7, ../sass/module/_about.scss */
.about img {
  box-shadow: 0px 25px 35px -15px;
}
/* line 10, ../sass/module/_about.scss */
.about .read-more {
  margin-bottom: 20px;
}

/* line 1, ../sass/module/_quote.scss */
.quote {
  background: url(../image/quote.jpg) fixed no-repeat center;
  color: #fff;
}
/* line 5, ../sass/module/_quote.scss */
.quote .verse p {
  float: right;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 2, ../sass/module/_footer.scss */
footer .map-location {
  width: 100%;
}

/* line 1, ../sass/module/_team.scss */
.ldr-team {
  border: 1px solid #ddd;
}
/* line 3, ../sass/module/_team.scss */
.ldr-team h4 {
  margin-bottom: 0px;
}
/* line 6, ../sass/module/_team.scss */
.ldr-team span {
  margin-bottom: 15px;
}
/* line 9, ../sass/module/_team.scss */
.ldr-team p {
  padding: 0px 10px;
}

/* line 1, ../sass/module/_event.scss */
.event {
  padding: 25px 0px 30px;
  background: url(../image/event.jpg) no-repeat 0px -140px;
  background-size: cover;
  color: #fff;
}

/* line 1, ../sass/module/_withus.scss */
.with-us {
  padding: 35px 0px 45px 0px;
  background: url(../image/us.jpg) fixed;
  background-size: cover;
  background-position: 0px 10px;
  color: #fff;
}
/* line 7, ../sass/module/_withus.scss */
.with-us p {
  font-size: 1.1em;
}
/* line 10, ../sass/module/_withus.scss */
.with-us .col-sm-4 {
  padding-top: 15px;
}
