/* line 1, ../sass/module/_header.scss */
.navbar {
  border-color: transparent;
  border-radius: 0px;
  background: transparent;
  margin-bottom: 0px;
}
/* line 6, ../sass/module/_header.scss */
.navbar .navbar-brand {
  padding: 5px 15px;
}
/* line 8, ../sass/module/_header.scss */
.navbar .navbar-brand .logo {
  width: 50px;
}

/* line 14, ../sass/module/_header.scss */
.navbar-inverse .navbar-nav > li a {
  color: #000 !important;
  font-weight: bold;
}
/* line 17, ../sass/module/_header.scss */
.navbar-inverse .navbar-nav > li a:hover {
  /*enpty effect*/
}

/* line 22, ../sass/module/_header.scss */
nav {
  height: 160px;
  transition: all 0.3s;
}
/* line 25, ../sass/module/_header.scss */
nav .container-fluid {
  transition: all 0.3s;
}

/* line 29, ../sass/module/_header.scss */
.navshadow {
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 70px;
  background: #000000a3;
}
/* line 33, ../sass/module/_header.scss */
.navshadow .navbar-brand, .navshadow .navbar-nav > li > a {
  color: #fff !important;
}

/* line 39, ../sass/module/_header.scss */
header {
  background: url(../image/church.jpg);
  height: 100vh;
  background-size: cover;
}
/* line 43, ../sass/module/_header.scss */
header .hero-image {
  padding-top: 50vh;
  text-align: center;
}
/* line 47, ../sass/module/_header.scss */
header .hero-text {
  font-size: 1.5em;
  text-align: center;
  transform: translate(0%, 0%);
  color: white;
}
/* line 52, ../sass/module/_header.scss */
header .hero-text h1 {
  margin-top: 0px;
}
/* line 55, ../sass/module/_header.scss */
header .hero-text p {
  color: #a5a5a5;
  font-style: italic;
}

/* line 1, ../sass/module/_about.scss */
.about {
  background: url(../image/open-bible.jpg) fixed;
  background-size: cover;
}
/* line 4, ../sass/module/_about.scss */
.about h3 {
  font-family: Comic Sans Ms;
  padding: 90px 0px;
}
