.event{
  padding: 25px 0px 30px;
  background: url(../image/event.jpg) no-repeat fixed;
  background-size: cover;
  color: #fff;
}
@media screen and (max-width: 767px){
  .res-center{
    text-align: center;
  }
}
