.navbar{
  border-color: transparent;
  border-radius: 0px;
  background: transparent;
  margin-bottom: 0px;
  .navbar-brand{
  	padding: 5px 15px;
	  .logo{
    	width: 50px;
    }
	}
}
.navbar-inverse .navbar-nav > li{
	a{
		color: #000!important;
		font-weight: bold;
		text-transform: uppercase;
    &:hover{
      color: #ddab2b !important;
    }
	}
}

nav{
	height: 160px;
	transition: all 0.3s;
	.navanime{
		transition: all 0.3s;
	}
}
.navshadow{
  box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
  height: 70px;
  background: #000000a3;
  .navbar-brand, .navbar-nav>li>a{
		color: #fff!important;
	}
}


header{
	background: url(../image/church.jpg);
	height: 100vh;
	background-size: cover;
	.hero-image{
		padding-top: 50vh;
		text-align: center;
	}
	.hero-text {
		font-size: 1.5em;
	  text-align: center;
	  transform: translate(0%, 0%);
	  color: white;
	  h1{
	  	margin-top: 0px;
	  }
	  p{
	  	color: #a5a5a5;
	  	font-style: italic;
	  }
	}
}

@media screen and (max-width: 767px){
	.navbar-inverse .navbar-nav{
		&>li{
			background: rgba(0,0,0,0.64);
		}
		li>a{
	    color: #fff !important;
	  }
	}
}

@media screen and (max-width: 430px){
	header .hero-image {
    padding-top: 40vh;
  }
}
