.with-us{
  padding: 35px 0px 45px 0px;
  background: url(../image/us.jpg) fixed;
  background-size: cover;
  background-position: 0px 10px;
  color: #fff;
  p{
    font-size: 1.1em;
  }
  .col-sm-4{
    padding-top: 15px;
  }
}
